.container {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 600px;
  width: 38vh;
}

.formItem {
  margin-bottom: 24px;
}

.button {
  display: flex;
  justify-content: flex-end;
}